* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 16px 32px;
}

.one {
    background-color: #007f3b;
}

button {
    background-color: #2FF000;
    color: #00210f;
    padding: 12px 24px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

ul {
    display: flex;
    gap: 48px;
    margin: 0;
    align-items: center;
}

a {
    font-weight: 600;
    color: #383737;
}

.hero {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: space-evenly;

}

.herobox {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    gap: 16px;
}

h1 {
    color: #2FF000;
    font-size: 48px;
}

h2 {
    color: #00210f;
    font-size: 36px;
    margin: 32px;
}

p {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

#pineapple {
    border-radius: 6px;
    transform: rotate(90deg)
}

.fruitbox {
    display: flex;
    justify-content: space-evenly;
    padding: 32px;
}

.light {
    color: #535353;
    font-weight:600;
}

.fruit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two {
    padding: 32px;
    text-align: center;
}

.three {
    background-color: #e2fadc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.quote{
    display: flex;
    flex-direction: column;
    width: 800px;
    align-items: flex-end;
    gap: 24px;
}

h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

h4 {
    font-size: 24px;
    color:#007f3b;
    font-weight: 600;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.cta {
    background-color: #007f3b;
    border-radius: 6px;
    padding: 64px;
    display: flex;
    justify-content: space-between;
    width:800px;
}

h5 {
    font-size: 24px;
    color: #2FF000;
    padding-bottom: 4px;
}

.footer {
    background-color: #00210f;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}